<!DOCTYPE html>
<html lang="en" class={{body_class}}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<title>{{@blog.title}}</title>
		<meta name="description" content="{{@blog.description}}"/>
		<link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script>
			{{> "async-css-load"}}
			loadCSS("http://fonts.googleapis.com/css?family=Arvo");
		</script>
		{{ghost_head}}
	</head>
	<body>
		<nav class="blog-nav"><a href="{{@blog.url}}">{{> "arrow"}}back</a></nav>
		<header>
			<h1 class="blog-name">{{@blog.title}}</h1>
		</header>
		<main>
			{{{body}}}
		</main>
		{{ghost_foot}}
		<footer class="blog-footer">
			<a class="logo" href="http://corail-webdesign.fr"><img src="http://corail-webdesign.fr/assets/logo.svg" alt=""/></a>
			{{!-- <section>
				<a href="http://twitter.com/laurentfalda">Twitter</a>
				<a href="http://github.com/mynameislau">Github</a>
			</section> --}}
			<span class="powered">
				Powered by <a href="http://ghost.org">Ghost</a>
			</span>
		</footer>
	</body>
</html>